.badge {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
    padding: .5rem;
    flex-wrap: wrap;
}

.badge > * {
    margin: 0;
}

.badge > img {
    object-fit: contain;
    height: 100%;
    width: 20%;
}

