.title-text {
  font-family: "Gochi Hand", cursive;
  color: #60f542;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
}

.error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

.submit {
    transition: all.35s ease-in;
    background-color: #60f542;
    color: black;
}

.submit:hover {
    background-color: rgba(215,66,245, 1);
    color: white;
}